#root {
  color: #fdb623;
}

.pdf-document {
  width: 100%;
}

.pdf-page {
  margin-bottom: 20px;
  max-width: 100%;
}

@media (max-width: 768px) {
  .pdf-viewer-container {
    max-width: 100%;
    padding: 10px;
  }

  .pdf-viewer {
    border-radius: 1rem;
    padding: 5px;
  }

  .pdf-page {
    width: 90%;
  }
}

@media (min-width: 1000px) {
  .pdf-page {
    width: 100%;
  }
}

/* src/components/QrScanner/QrScanner.css */
.qr-scanner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 40%;
  max-width: 80%; /* Ensure it doesn’t overflow */
}

.qr-scanner-container video {
  border: 2px solid #000;
  border-radius: 8px;
  max-width: 100%;
  object-fit: cover;
}

/* For mobile devices */
@media only screen and (max-width: 768px) {
  .qr-scanner-container {
    width: 100%;
    height: auto;
  }

  .qr-scanner-container video {
    border-radius: 15px; /* Adjust border-radius for mobile */
    max-width: 100%;
    height: auto;
  }
}

/* Add this to your existing CSS file */
.qr-result {
  margin-top: 20px;
  text-align: center;
}

.qr-result a {
  color: #fdb623;
  text-decoration: none;
  font-weight: bold;
}

.qr-result a:hover {
  text-decoration: underline;
}
